devkit-modules/mule-module-twitter/test/resources/automation-test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.3.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/2.4/mule-twitter.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
	
	<context:property-placeholder location="${TWITTER_CREDENTIALS}"/>
	
	<twitter:config name="Twitter"
		accessKey="${twitter.sandbox.accessKey}"
		accessSecret="${twitter.sandbox.accessSecret}" consumerKey="${twitter.sandbox.consumerKey}"
		consumerSecret="${twitter.sandbox.consumerSecret}" doc:name="Twitter"
		useSSL="true" />
	<twitter:config name="auxSandbox"
		accessKey="${twitter.auxSandbox.accessKey}"
		accessSecret="${twitter.auxSandbox.accessSecret}" consumerKey="${twitter.auxSandbox.consumerKey}"
		consumerSecret="${twitter.auxSandbox.consumerSecret}" doc:name="Twitter"
		useSSL="true" />
	<twitter:config name="auxAuxSandbox"
		accessKey="${twitter.auxAuxSandbox.accessKey}"
		accessSecret="${twitter.auxAuxSandbox.accessSecret}" consumerKey="${twitter.auxAuxSandbox.consumerKey}"
		consumerSecret="${twitter.auxAuxSandbox.consumerSecret}" doc:name="Twitter"
		useSSL="true" />
		
	<!--  ### auxSandbox flows ### -->
	
	<flow name="update-status-aux-sandbox" doc:name="update-status-aux-sandbox">
        <twitter:update-status config-ref="auxSandbox" status="#[payload.status]" doc:name="Update status"/>
    </flow>
	
	<flow name="destroy-status-aux-sandbox" doc:name="destroy-status-aux-sandbox">
        <twitter:destroy-status config-ref="auxSandbox" statusId="#[payload.statusId]" doc:name="Destroy status"/>
    </flow>
	
	<flow name="retweet-status-aux-sandbox" doc:name="retweet-status-aux-sandbox">
        <twitter:retweet-status config-ref="auxSandbox" statusId="#[payload.statusId]" doc:name="Twitter"/>
    </flow>
	
	<flow name="get-retweets-of-me-default-values" doc:name="get-retweets-of-me-default-values">
		<twitter:get-retweets-of-me config-ref="auxSandbox" doc:name="Twitter"/>
    </flow>
	
	<flow name="get-retweets-of-me-parametrized" doc:name="get-retweets-of-me-parametrized">
        <twitter:get-retweets-of-me config-ref="auxSandbox" doc:name="Twitter" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
    </flow>
	
	<flow name="get-retweets-aux-sandbox" doc:name="get-retweets-aux-sandbox">
        <twitter:get-retweets config-ref="auxSandbox" statusId="#[payload.statusId]" doc:name="Twitter"/>
    </flow>
		
	<!--  ### Twitter ###  -->
	
	<flow name="show-user" doc:name="show-user">
        <twitter:show-user config-ref="Twitter"  doc:name="Twitter"   />
    </flow>
	
	<flow name="update-status" doc:name="update-status">
        <twitter:update-status config-ref="Twitter" status="#[payload.status]" doc:name="Update status"/>
    </flow>
	
	<flow name="retweet-status" doc:name="retweet-status">
        <twitter:retweet-status config-ref="Twitter" statusId="#[payload.statusId]" doc:name="Twitter"/>
    </flow>

	<flow name="destroy-status" doc:name="destroy-status">
        <twitter:destroy-status config-ref="Twitter" statusId="#[payload.statusId]" doc:name="Destroy status"/>
    </flow>
	
	<flow name="show-status" doc:name="show-status">
        <twitter:show-status config-ref="Twitter" id="#[payload.id]" doc:name="Twitter"/>
    </flow>
	
	<flow name="get-home-timeline-default-values" doc:name="get-home-timeline-default-values">
        <twitter:get-home-timeline config-ref="Twitter"  doc:name="Twitter"/>
    </flow>
	
	<flow name="get-home-timeline-parameterized" doc:name="get-home-timeline-parameterized">
        <twitter:get-home-timeline config-ref="Twitter"  doc:name="Twitter" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
    </flow>
	
	<flow name="get-user-timeline-default-values" doc:name="get-user-timeline-default-values">
        <twitter:get-user-timeline config-ref="Twitter"  doc:name="Twitter"   />
    </flow>
	
	<flow name="get-user-timeline-parameterized" doc:name="get-user-timeline-parameterized">
        <twitter:get-user-timeline config-ref="Twitter"  doc:name="Twitter" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
    </flow>
	
	<flow name="get-user-timeline-by-screen-name-default-values" doc:name="get-user-timeline-by-screen-name-default-values">
        <twitter:get-user-timeline-by-screen-name config-ref="Twitter"  doc:name="Twitter" screenName="#[payload.screenName]"/>
    </flow>
	
	<flow name="get-user-timeline-by-screen-name-parameterized" doc:name="get-user-timeline-by-screen-name-parameterized">
        <twitter:get-user-timeline-by-screen-name config-ref="Twitter"  doc:name="Twitter" screenName="#[payload.screenName]" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
    </flow>
	
	<flow name="get-user-timeline-by-user-id-default-values" doc:name="get-user-timeline-by-user-id-default-values">
        <twitter:get-user-timeline-by-user-id config-ref="Twitter"  doc:name="Twitter" userId="#[payload.userId]"/>
    </flow>
	
	<flow name="get-user-timeline-by-user-id-parameterized" doc:name="get-user-timeline-by-user-id-parameterized">
        <twitter:get-user-timeline-by-user-id config-ref="Twitter"  doc:name="Update status" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]" userId="#[payload.userId]"/>
    </flow>
	
	<flow name="create-place-default-values" doc:name="create-place-default-values">
        <twitter:create-place config-ref="Twitter" placeName="#[payload.placeName]" containedWithin="#[payload.containedWithin]" token="#[payload.token]" latitude="#[payload.latitude]" longitude="#[payload.longitude]" doc:name="Twitter"/>
    </flow>
	
	<flow name="create-place-parametrized" doc:name="create-place-parametrized">
        <twitter:create-place config-ref="Twitter" placeName="#[payload.placeName]" containedWithin="#[payload.containedWithin]" token="#[payload.token]" latitude="#[payload.latitude]" longitude="#[payload.longitude]" streetAddress="#[payload.streetAddress]" doc:name="Twitter"/>
    </flow>
	
	<flow name="search-places-by-coordinates" doc:name="search-places-by-coordinates">
        <twitter:search-places config-ref="Twitter" doc:name="Twitter" latitude="#[payload.latitude]" longitude="#[payload.longitude]"/>
    </flow>
	
	<flow name="search-places-by-ip" doc:name="search-places-by-ip">
        <twitter:search-places config-ref="Twitter" doc:name="Twitter" ip="#[payload.ip]"/>
    </flow>
	
	<flow name="get-available-trends-default-values" doc:name="get-available-trends-default-values">
        <twitter:get-available-trends config-ref="Twitter" doc:name="Twitter"/>
    </flow>
	
	<flow name="get-available-trends-parametrized" doc:name="get-available-trends-parametrized">
        <twitter:get-available-trends config-ref="Twitter" doc:name="Twitter"/>
    </flow>
	
	<flow name="get-geo-details" doc:name="get-geo-details">
        <twitter:get-geo-details config-ref="Twitter" id="#[payload.id]" doc:name="Twitter"/>
    </flow>
	
	<flow name="get-location-trends-default-values" doc:name="get-location-trends-default-values">
        <twitter:get-place-trends config-ref="Twitter" doc:name="Twitter"/>
    </flow>
	
	<flow name="get-location-trends-parametrized" doc:name="get-location-trends-parametrized">
        <twitter:get-place-trends config-ref="Twitter" doc:name="Twitter" woeid="#[payload.woeid]"/>
    </flow>
	
	<flow name="get-mentions-default-values" doc:name="get-mentions-default-values">
        <twitter:get-mentions-timeline config-ref="Twitter" doc:name="Twitter"/>
    </flow>
	
	<flow name="get-mentions-parametrized" doc:name="get-mentions-parametrized">
        <twitter:get-mentions-timeline config-ref="Twitter" doc:name="Twitter" count="#[payload.count]" page="#[payload.page]" sinceId="#[payload.sinceId]"/>
    </flow>
	
	<flow name="request-authorization" doc:name="request-authorization">
        <twitter:request-authorization config-ref="Twitter" doc:name="Twitter"/>
    </flow>
	
	<flow name="reverse-geo-code-by-ip" doc:name="reverse-geo-code-by-ip">
        <twitter:reverse-geo-code config-ref="Twitter" doc:name="Twitter" />
    </flow>
	
	<flow name="reverse-geo-code-by-coordinates" doc:name="reverse-geo-code-by-coordinates">
        <twitter:reverse-geo-code config-ref="Twitter" doc:name="Twitter" latitude="#[payload.latitude]" longitude="#[payload.longitude]"/>
    </flow>
	
	<flow name="search-default-values" doc:name="search-default-values">
        <twitter:search config-ref="Twitter" query="#[payload.query]" doc:name="Twitter"/>
    </flow>
	<flow name="send-direct-message-by-screen-name" doc:name="send-direct-message-by-screen-name">
        <twitter:send-direct-message-by-screen-name config-ref="Twitter" screenName="#[payload.screenName]" message="#[payload.message]" doc:name="Twitter"/>
    </flow>
	<flow name="send-direct-message-by-user-id" doc:name="send-direct-message-by-user-id">
        <twitter:send-direct-message-by-user-id config-ref="Twitter" userId="#[payload.userId]" message="#[payload.message]" doc:name="Twitter"/>
    </flow>
	
	<flow name="set-oauth-verifier-default-values" doc:name="set-oauth-verifier-mentions-default-values">
        <twitter:set-oauth-verifier config-ref="Twitter" oauthVerifier="#[payload.oauthVerifier]" doc:name="Twitter"/>
    </flow>
	
</mule>