devkit-modules/mule-module-twitter/test/resources/twitter-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Twitter Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter"
      xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
                          http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/2.4/mule-twitter.xsd">

    <twitter:config consumerKey="${twitter.consumer.key}" consumerSecret="${twitter.consumer.secret}"/>

    <flow name="Search">
        <twitter:search query="#[payload]"/>
    </flow>

    <flow name="HomeTimeline">
        <twitter:get-home-timeline/>
    </flow>

    <flow name="UserTimeline">
        <twitter:get-user-timeline/>
    </flow>

    <flow name="getUserTimelineByScreenName">
        <twitter:get-user-timeline-by-screen-name screenName="someScreenName"/>
    </flow>

    <flow name="getUserTimelineByUserId">
        <twitter:get-user-timeline-by-user-id userId="321"/>
    </flow>

    <flow name="getMentions">
        <twitter:get-mentions-timeline/>
    </flow>

    <flow name="getRetweetsOfMe">
        <twitter:get-retweets-of-me/>
    </flow>

    <flow name="showStatus">
        <twitter:show-status id="321"/>
    </flow>

    <flow name="showUser">
        <twitter:show-user/>
    </flow>

    <flow name="destroyStatus">
        <twitter:destroy-status statusId="321"/>
    </flow>

    <flow name="retweetStatus">
        <twitter:retweet-status statusId="321"/>
    </flow>

    <flow name="getRetweets">
        <twitter:get-retweets statusId="321"/>
    </flow>

    <flow name="setOauthVerifier">
        <twitter:set-oauth-verifier oauthVerifier="444"/>
    </flow>

    <flow name="requestAuthorization">
        <twitter:request-authorization/>
    </flow>

    <flow name="UpdateStatus">
        <twitter:update-status status="hello world"/>
    </flow>

    <flow name="SearchPlaces">
        <twitter:search-places latitude="#[header:latitude]" longitude="#[header:longitude]"/>
    </flow>

    <flow name="GeoCode">
        <twitter:reverse-geo-code latitude="#[header:latitud]" longitude="#[header:longitude]"/>
    </flow>

    <flow name="AvailableTrends">
        <twitter:get-available-trends/>
    </flow>

    <flow name="LocationTrends">
        <twitter:get-place-trends woeid="#[header:woeid]" />
    </flow>  
    
    <flow name="GetGeoDetais">
        <twitter:get-geo-details id="#[header:geocodeId]"/>
    </flow>

    <flow name="CreatePlace">
        <twitter:create-place
                token="#[header:token]"
                containedWithin="#[header:containedWithin]"
                placeName="#[header:placeName]"
                latitude="#[header:latitude]"
                longitude="#[header:longitude]"
                streetAddress="[header:address]"/>
    </flow>

    <flow name="sampleStream">
        <twitter:sample-stream />
        <echo-component />
    </flow>

    <flow name="FilteredStream">
        <twitter:filtered-stream>
            <twitter:keywords>
                <twitter:keyword>muleesb</twitter:keyword>
                <twitter:keyword>mulesoft</twitter:keyword>
            </twitter:keywords>
        </twitter:filtered-stream>
        <echo-component />
    </flow>

    <flow name="UserStream">
        <twitter:user-stream>
            <twitter:keywords>
                <twitter:keyword>enterprise</twitter:keyword>
                <twitter:keyword>integration</twitter:keyword>
            </twitter:keywords>
        </twitter:user-stream>
        <echo-component />
    </flow>

    <flow name="firehoseStream">
        <twitter:firehose-stream count="100" />
        <echo-component />
    </flow>

    <flow name="linkStream">
        <twitter:link-stream count="100" />
        <echo-component />
    </flow>

    <flow name="siteStream">
        <twitter:site-stream>
            <twitter:user-ids>
                <twitter:user-id>321</twitter:user-id>
                <twitter:user-id>123</twitter:user-id>
            </twitter:user-ids>
        </twitter:site-stream>
        <echo-component />
    </flow>

    <flow name="sendDirectMessageByScreenName">
        <twitter:send-direct-message-by-screen-name screenName="someScreenName" message="bla bla" />
    </flow>

    <flow name="sendDirectMessageByUserId">
        <twitter:send-direct-message-by-user-id userId="321" message="bla bla" />
    </flow>
</mule>